:root {
    --color-saranf-50: #e4fafa;
    --color-saranf-100: #bcf4f4;
    --color-saranf-200: #90ecec;
    --color-saranf-300: #64e4e4;
    --color-saranf-400: #42dfdf;
    --color-saranf-500: #21d9d9;
    --color-saranf-600: #1dd5d5;
    --color-saranf-700: #18cfcf;
    --color-saranf-800: #14caca;
    --color-saranf-900: #0bc0c0;
    --color-saranf-A100: #ecffff;
    --color-saranf-A200: #b9ffff;
    --color-saranf-A400: #86ffff;
    --color-saranf-A700: #6dffff;

    --color-dvmoomoodv-50: #ffe4ee;
    --color-dvmoomoodv-100: #febcd4;
    --color-dvmoomoodv-200: #fe8fb7;
    --color-dvmoomoodv-300: #fe629a;
    --color-dvmoomoodv-400: #fd4085;
    --color-dvmoomoodv-500: #fd1e6f;
    --color-dvmoomoodv-600: #fd1a67;
    --color-dvmoomoodv-700: #fc165c;
    --color-dvmoomoodv-800: #fc1252;
    --color-dvmoomoodv-900: #fc0a40;
    --color-dvmoomoodv-A100: #ffffff;
    --color-dvmoomoodv-A200: #fff1f4;
    --color-dvmoomoodv-A400: #ffbeca;
    --color-dvmoomoodv-A700: #ffa5b5;
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');

* {
    color: #323232;
}


.h50{
    height: 50px;
}




main {
    height: calc(100vh - 100px);
    font-family: 'Ubuntu', sans-serif;
}

main h1 {
    position: absolute;
    bottom: 30px;
    right: 30px;
    text-align: right;
    color: var(--color-saranf-400);
    font-weight: bold;
    text-shadow: 1px 1px 1px gray;
    font-size: calc(10vw);
}

main p {
    margin: 10px 0px 0px 10px;
    font-size: 18px;    
    font-weight: bold;
}

main .carousel{
    font-family: 'Ubuntu', sans-serif;
    z-index: -1;
    position: absolute;
    top: calc(50vh - 160px);
    width: 100%;
    font-size: 50px;
    opacity: .1;
}
main .carousel i {
    font-size: 32px;
}

.fa-chevron-circle-down{
    font-size: 50px;
    color: var(--color-saranf-400);
}

.subject{
    font-size: 48px;
    font-weight: bold;
    
}

.btn-group{
    font-size: 12px;
}

.footer .text-muted{
    font-size: 14px;
}


.timeline {
    list-style-type: none;
    position: relative;
}
.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}